{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
{% endblock %}

{% block individual_page_contents %}
<section id="chore_board">
  <h1>CHORE BOARD</h1>
  <table>
    <tr>
      <th>Chore</th>
      <th>Assigned To</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
    {% for chore in chores %}
    <tr>
      <td>{{ chore.name }}</td>
      <td>{{ chore.assigned_to }}</td>
      <td>{{ chore.due_date }}</td>
      <td>{{ chore.status }}</td>      
    </tr>
    {% endfor %}
  </table>  
</section>

{% call super() %} {% endblock %}
