$inner_background: hsl(0, 0%, 100%);
$card_background: hsl(206, 30%, 40%);

@import 'login';
@import 'errors';
@import 'main';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: teal;
    height: 100vh;
    max-width: 1080px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;

    #error_block {
	display: none;
    }

    #template_pages {
	grid-area: main;
	width: 100vw;
	height: 100vh;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	background-color: $inner_background;
    }
}


